/* components/Banner.css */
.banner::before {
  content: '';
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  min-height: 400px;
  background: rgba(255, 196, 245, 0.74); /* ajuste a cor e opacidade */
  z-index: 1;
}

.banner > .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    min-height: 400px;
}

.box-texto-banner {
    background-color: #d293a9;
    min-height: 180px;
    border-radius: 10px;
}

h1 {
    font-size: 50px !important;
}

.botao-adote-ja {
  background-color: #cc527c !important;
}
